.container {
  position: absolute;
  bottom: 0;

  &:hover,
  :active {
  }

  .inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .text {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 2rem;
    }

    .boat {
      position: absolute;
      top: 2rem;

      &.one {
        left: -200px;
        animation: moveFirstBoat ease-out 80s infinite;
      }
      &.two {
        left: -250px;
        animation: moveSecondBoat 60s infinite;
      }
      &.three {
        left: -600px;
        animation: moveSinkingBoat 12s;
      }
    }
  }
}

.wavy {
}

@keyframes moveFirstBoat {
  0% {
    margin-left: -100px;
    transform: rotate(0deg);
    top: 0.4rem;
  }
  15% {
    top: 1.5rem;
    transform: rotate(-3deg);
  }
  25% {
    top: 2rem;
  }
  32% {
    top: 1rem;
    transform: rotate(0deg);
  }

  40% {
    top: 0rem;
  }

  60% {
    top: 1.2rem;
  }

  70% {
    top: 1.5rem;
  }

  90% {
    top: -1rem;
  }
  100% {
    top: 1rem;
    margin-left: 100%;
  }
}

@keyframes moveSecondBoat {
  0% {
    margin-left: -100px;
    transform: rotate(0deg);
    top: 0.4rem;
  }
  15% {
    transform: rotate(-3deg);
    top: 1.5rem;
  }
  25% {
    top: 2rem;
    transform: rotate(3deg);
  }
  32% {
    top: 1rem;
    transform: rotate(0deg);
  }

  40% {
    top: 0.5rem;
  }

  41% {
    top: 0.8rem;
  }

  50% {
    top: 1.2rem;
  }
  53% {
    top: 1.2rem;
  }

  90% {
    top: -0.8rem;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes moveSinkingBoat {
  0% {
    top: 0.5rem;
  }

  25% {
    top: 1.4rem;
  }

  30% {
    top: 1.8rem;
  }

  35% {
    top: 2.4rem;
    transform: rotate(0deg);
  }

  50% {
    top: 1.8rem;
    transform: rotate(85deg);
  }

  60% {

  }

  100% {
    top: 6rem;
    transform: rotate(120deg);
    margin-left: 100%;
  }
}
