.container {
  position: absolute;
  bottom: 0;

  &:hover,
  :active {
  }

  .inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .text {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 2rem;
    }

    .boat {
      position: absolute;
      top: 2rem;

      &.one {
        left: -200px;
        animation: moveFirstBoat ease-out 80s infinite;
      }
      &.two {
        left: -250px;
        animation: moveSecondBoat 60s infinite;
      }
      &.three {
        left: -600px;
        animation: moveSinkingBoat 12s;
      }
    }
  }
}

.wavy {
}
